html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

h1, h2, a, p {
    display: flex;
    margin: 0
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    background-color: #11B5E4;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav h1 {
    font-size: 1em;
    align-self: center;
}

.nav #navbtn {
    display: flex;
    margin: 0;
    padding: 3px;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}
.nav #navbtn:hover {
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 60%;
    color: #F2F2F2;
    background-color: #333232;
    font-family: Arial, Helvetica, sans-serif;
}

.article {
    margin: 10px;
}

.article h1 {
    justify-content: center;
    margin: 0 0 5px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: #707070;
    background-color: #131415;
    font-family: Arial, Helvetica, sans-serif;
}

.footer p {
    font-size: 0.8em;
}