
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #ffa98c; //#8a90ff #ff644e #45a3e5 #66bf39 #eb670f #f35 #864cbf
$secondary-color: adjust-hue( $primary-color, 30% ); //#d496ff
$title-color	: #222222; //#222222
$text-color		: #777777; //#777777

$white			: #ffffff; //#fff
$offwhite		: #f9f9ff; //#f9f9ff
$black			: #222222; //#222222






