{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Polls
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
{%  endblock %}

{% block content %}

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% blocktrans %}No polls are available.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}