<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'webprogram/css/index.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.6.2/brython.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.6.2/brython_stdlib.js"></script>
        <title>{{ title }}</title>
    </head>
    <body onload="brython();">
        <script type="text/python3" src="{% static 'webprogram/python/home.py' %}">{{ python }}</script>
    </body>
</html>