<!DOCTYPE html>
{% load static %}
{% load stright_include %}


{% with css_folder="css" %}

<html lang="en">
    <head>
        {# This is where metadata is specified #}
        {% block meta %}
            {% include 'partials/meta.html' %}
            <!-- Meta Description -->
            <meta name="description" content="{% block meta.description %}{% endblock %}">
            <!-- Meta Keyword -->
            <meta name="keywords" content="{% block meta.keywords %}{% endblock %}">
            <!-- bootstrap support for mobile phones -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {# This is were stylesheet goes #}
        {% block styles %}
            {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
            <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
            <!--
            CSS
            ============================================= -->

            <!-- others -->
            {% comment %}
            {% with css_folder|add:"/hexagons.min.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% with css_folder|add:"/owl.carousel.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% endcomment %}

            <!-- fonts -->
            {% with css_folder|add:"/linearicons.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% with css_folder|add:"/font-awesome.min.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}

            <!-- additional  -->
            {% with css_folder|add:"/magnific-popup.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% with css_folder|add:"/nice-select.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% with css_folder|add:"/animate.min.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}

            <!-- main styles -->
            {% with css_folder|add:"/bootstrap.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% with css_folder|add:"/main.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
            {% with css_folder|add:"/django.css" as link_static %}
              <link rel="stylesheet" href="{% static link_static %}">
            {% endwith %}
        {% endblock %}

        {# This is where scripts go. It must be last to ensure that some scripts are executed when the page is ready #}
        {% block scripts %}
            {% include 'partials/scripts.html' %}
        {% endblock %}

        {# This is were title is specified #}
        <title>{% block title %}{{ title }}{% endblock %}</title>

        {# This is were favicon is specified #}
        {% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>{% endblock %}

    </head>

    <body>
        {# template_include 'partials/header.html' #}
        <header id="header" {% block header.attrs %}{% endblock %}>
            {% block header %}

			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="index.html">Home</a></li>
				          <li><a href="about.html">About Us</a></li>
				          <li><a href="services.html">Services</a></li>
				          <li><a href="products.html">Products</a></li>
				          <li class="menu-has-children"><a href="">Blog</a>
				            <ul>
				              <li><a href="blog-home.html">Blog Home</a></li>
				              <li><a href="blog-single.html">Blog Single</a></li>
				            </ul>
				          </li>
				          <li><a href="contact.html">Contact</a></li>
				          <li class="menu-has-children"><a href="">Dropdown</a>
				            <ul>
				              <li><a href="elements.html">Elements</a></li>
				              <li><a href="product-details.html">Product Details</a></li>
				              <li class="menu-has-children"><a href="">Level 2</a>
					            <ul>
					              <li><a href="#">Item 1</a></li>
					              <li><a href="#">Item 2</a></li>
					            </ul>
					          </li>
				            </ul>
				          </li>
                            <li>{% include "language_management/form.html" with type="menu"%}</li>
                        {% if user.is_authenticated %}
                          <li><a href="{% url 'user_management:logout' %}">logout {{user.username}}</a></li>
                        {% else %}
                          <li><a href="{% url 'user_management:login' %}">login</a></li>
                          <li><a href="{% url 'user_management:signup' %}">signup</a></li>
                        {% endif %}

				        </ul>
				      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
            {% endblock %}
        </header>

        {# This is the main page #}
        <main class="{% block main.class %}site-main{% endblock %}">

            {% block banner %}
            <!-- start banner Area -->
            <section class="banner-area" id="home">
                <div class="container">
                    <div {% block banner.attrs %} style="height: 100px;" class="row d-flex align-items-center justify-content-center"{% endblock %}>
                        <div {% block banner.content_attrs %} class="col-lg-6 col-md-6"{% endblock %} >
                            {% block banner.content %}
                            {% endblock %}
                        </div>

                        <div {% block banner.image_attrs %} class="banner-img col-lg-6 col-md-6"{% endblock %} >
                            {% block banner.image %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- End banner Area -->
            {% endblock %}

            {# This is the message handling system #}
            {% block messaging %}
            {% include 'partials/messages.html' %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </main>

        <footer class="{% block footer.class %}site-footer{% endblock %}">
            {% block footer %}
                {% include 'partials/footer.html' %}
            {% endblock %}
        </footer>
    </body>
</html>
{% endwith %}