a{
    color: #ff5c30;
}

.main-menu{
    display:block;
}

.nav-menu a {
  color: #ff5c30;
}

.container-separated {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #eeeeee;
    display:block;
	clear:both;
}

.container-separated:after {
    content: " ";
    display: block;
    background: #ff5c30;
    height: 5px;
    width: 100%;

    position: absolute;
    bottom: -5px;
}​